@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Judson&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}
body {
  margin: 0;
  font-family: 'Jockey One', sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #ffe5ef;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  padding-left: 90px;
  background-color: #02092C;
  color: white;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
}
.header a {
  color:#f0eeee;
  text-decoration: none;
}

.main-body {
  display: flex; 
  flex: 1;
}

.sidebar {
  width: 15%;
  background-color: #f7eaef;
  padding: 20px;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.sidebar a {
  color: black;
  text-decoration: none;
  margin: 10px 0; 
  font-size: 25px;
  font-family: 'Jockey One', sans-serif;
  line-height: 1.8; 
}

.sidebar a:hover {
  text-decoration:underline;
}

.main-content {
  flex: 1; 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #fbd6e4;
  justify-content: start; 
  align-content: start;
  overflow-y: auto;
}

.post {
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 280px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  box-sizing: border-box; 
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.post img {
  width: 257px;
  height: 200px;
  border-radius: 40px;
  object-fit: cover;
  padding-top: 10px;
}

.post .info {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Judson', serif;
  transition: transform .2s;
}
.post .info:hover {
  transform:scale(1.15)
}
.post .info small {
  color: gray;
  font-family: 'Judson', serif;
  text-decoration: none;
}
.post .info a {
  text-decoration: none;
  color: inherit;
}
.post .info a:hover {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay:target {
  display: flex; 
}

.overlay-content {
  background-color: #02092C; 
  color: white;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex; 
  flex-direction: row; 
  gap: 20px; 
  overflow-y: auto; 
  max-height: 90%; 
  position: relative;
  font-family: 'Judson', sans-serif;
}

.overlay-left {
  flex: 1; 
  align-items: center; 
  text-align: center;
}

.overlay-left img {
  width: 100%; 
  border-radius: 40px;
}

.overlay-right {
  flex: 1.5; 
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.overlay-right h2 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.overlay-right ul {
  list-style-type: disc;
  padding-left: 50px;
}

.overlay-right ul li {
  margin-bottom: 5px;
}

.overlay-right p {
  margin-bottom: 15px;
  padding-left: 50px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 40px;
  color: white;
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
  transition: transform .2s;
}

.close-btn:hover {
  transform:scale(1.5)
}

.footer {
  background-color: #02092C;
  color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 15px;
  font-family: 'Judson', serif;
}

.footer a{
  color:#f0eeee;
  margin-right: 80px;
  margin-left: 80px;
  text-decoration: underline;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-right: 135px;

}

.search__input {
  font-family: 'Judson', sans-serif;
  font-size: 15px;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 20px;
  width: 15em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

.small-image {
  height: 50px;
  width: 50px;
}

.div-img{
  justify-content: center;
  align-items: center;
  display:flex;
  padding-top:20%;
}


a {
  text-decoration: none;
}